.choose-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 15px;
    font-family: Arial, sans-serif;
    // background-color: red; 
    height: 60px;
  }
  .choose-option{
    margin-top: 10px;
  }
  .m-top{
    margin-top: 40px ;
  }
  .choose-text {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    /* background-color: green; */
  }
  
 .choose-text .icon{
    margin-right: 8px;
    color: #888;
  }
  
   .check-button{
    cursor: pointer;
    position: relative;
  }
  