.aline-end {
  text-align: end;
}
.m-top {
  margin-top: 13px;
}
.m-btn {
  margin-bottom: 15px;
}
.m-btn-5 {
  margin-bottom: 5px;
}
.m-top-5 {
  margin-bottom: 5px;
}
.m-rgt {
  margin-right: 7px;
}
.bold {
  color: rgb(2, 0, 128);
  font-weight: bold;
}
.moreSmall {
  font-size: 14px;
}

.hidden {
  visibility: hidden;
}
.delete-text {
  color: red;
}
.p-order {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  margin-left: 20px;
}
